name: Code_Checks

on:
    pull_request: null
    push:
        branches:
            - master
env:
    LANG: "en_US.UTF-8"
jobs:
    tests:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                php: ["7.4", "8.0", "8.1", "8.2", "8.3", "8.4"]

        name: PHP ${{ matrix.php }} tests
        steps:
            - uses: actions/checkout@v2
            - uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php }}
                  coverage: none # disable xdebug, pcov
            - run: composer install --no-progress
            - run: vendor/bin/phpunit

    test_lowest_dependencies:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - run: git fetch --depth=100000 origin

            # see https://github.com/shivammathur/setup-php
            - uses: shivammathur/setup-php@v2
              with:
                  php-version: 7.4
                  coverage: none

            - run: composer update --no-progress --prefer-lowest
            - run: vendor/bin/phpunit
    test_symfony_5:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - run: git fetch --depth=100000 origin

            # see https://github.com/shivammathur/setup-php
            - uses: shivammathur/setup-php@v2
              with:
                  php-version: 8.2
                  coverage: none

            - run: composer install
            - run: composer require --no-interaction --prefer-source symfony/process:~5.0 symfony/filesystem:~5.0
            - run: vendor/bin/phpunit
    test_symfony_60:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - run: git fetch --depth=100000 origin

            # see https://github.com/shivammathur/setup-php
            - uses: shivammathur/setup-php@v2
              with:
                  php-version: 8.3
                  coverage: none

            - run: composer install
            - run: composer require --no-interaction --prefer-source symfony/process:~6.0 symfony/filesystem:~6.0
            - run: vendor/bin/phpunit
    test_symfony_70:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - run: git fetch --depth=100000 origin

            # see https://github.com/shivammathur/setup-php
            - uses: shivammathur/setup-php@v2
              with:
                  php-version: 8.4
                  coverage: none

            - run: composer install
            - run: composer require --no-interaction --prefer-source symfony/process:~7.0 symfony/filesystem:~7.0
            - run: vendor/bin/phpunit
    test_symfony_80:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - run: git fetch --depth=100000 origin

            # see https://github.com/shivammathur/setup-php
            - uses: shivammathur/setup-php@v2
              with:
                  php-version: 8.5
                  coverage: none

            - run: composer install
            - run: composer require --no-interaction --prefer-source symfony/process:~8.0 symfony/filesystem:~8.0
            - run: vendor/bin/phpunit
    ecs:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2
            # see https://github.com/shivammathur/setup-php
            - uses: shivammathur/setup-php@v2
              with:
                  php-version: 8.5
                  coverage: none

            - run: composer install --no-progress
            - run: composer require symplify/easy-coding-standard --dev
            - run: vendor/bin/ecs check --ansi
